.containerstudents {
  align-content: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
}

.card .content p {
  text-indent: 15px;
  font-size: 0.875em;
  margin-top: 1px;
  margin-bottom: 1px;
}
